

header{
    margin-top: 30px;
    text-align: center;
    
}
#header{
    background: url('./images/wiitLogo.png');
    background-repeat: no-repeat;
    height: 168px;
    width: 600px;
    margin: 0px auto;
}
#add{
    cursor: pointer;
}
.commentForm textarea{
    height: 75px;
    margin-bottom: 10px;
}

header h1{
    font-size: 48px;
}

.headerText{
    margin: 0px auto;
    
    float: none;
    text-align: left;
}
.headerText p{
    font-size: 18px;
}

.grid-row{
    margin: 0 auto;
}
.container-row{
    width: 97.65%;
    max-width: 1000px; 
    margin-top: 12px;
}

.commentText{
    float: none;
    margin: 0px auto;
    overflow: hidden;
    padding-top: 3%;
}
.commentbox{
    float: right;
}
.commentsRow{
    
    min-height: 170px;
    margin-bottom: 10px;
    overflow: hidden;
    border-bottom: thin solid #eee;
    border-top: thin solid #eee;
}
.contentLeft{
    min-height: 200px;
    overflow: hidden;
    background-color: white;
    padding-top: 9px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: thin #b3b3b3 solid
}
.comment{
    font-size: 18px;
    margin: 3%;
    min-height: 80px;
}
.minicomment{
    font-size: 14px;
    margin: 3%;
    
}
.commentForm{
    min-height: 275px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}
.userName{
    font-size: 22px;
    margin-top: 5px;
    color: #2aabd2;
}
.miniName{
    font-size: 18px;
    color: #2aabd2;
}
.contentRight{
    float: right;
    background-color: white;
    min-height: 500px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    border: thin #b3b3b3 solid
}
.toLike{
    cursor: pointer;
    color: #d2512a;
}
.liked{
    color: #acacac;
}
#likeBox{
    width: 46px;
    float: left;
    margin-bottom: 10px;
}
.likeCount{
    float: left;
}

.twitter{
    background: url('./images/social-flat.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 31px;
    margin-top: 0px;
    background-position: 0px 0px;
    cursor: pointer;
    margin-left: 15px;
}
.facebook{
    margin-top: 10px;
    background: url('./images/social-flat.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 43px;
    margin-top: 8px;
    background-position: 0px -38px;
    cursor: pointer;
    margin-left: 15px;
}
footer{
    width: 100%;
    height: 40px;
    text-align: left;
    color: white;
    font-size: 11px;
    padding-left: 28px;
    margin-top: 10px;
}

#PreSyn{
     display: none; 

     margin-top: 15px;
}

#usernameOpen{
    display: none;
}

#comments{
    float: left;
    padding-top: 20px;
}
.submitWiit{
    background-color: #eeeeee;
    padding: 13px;
}

.user{
    width: 33%;
    margin-top: 5px;
    float: left;
}
.custBtn{
    padding: 5px;
    margin-left: 10px;
    margin-top: 6px;
}